<h1>Search for Near Earth Objects</h1>

<form action="/results" method="GET">
    <input type="text" placeholder="start date (YYYY-MM-DD)" name="start">
    <input type="text" placeholder="end date (YYYY-MM-DD)"name="end" >
    
    <input type="Submit">
</form>